.chat-page {
    background: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message-card-receiver{
    width: 200px;
    margin-bottom: 10px;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    
    
}

h5{
    margin: 6px
}
.avatar-icon-sender{
    background-color: #d7eef8 !important;
    width: 20px !important;
    height: 20px !important;
    font-size: 10px !important;
    color: rgb(145, 145, 145) !important;
}
.avatar-icon-receiver{
    background-color: rgb(250, 245, 245) !important;
    width: 20px !important;
    height: 20px !important;
    font-size: 10px !important;
    color: rgb(145, 145, 145) !important;
}

.card-receiver{
    border-radius: 20px !important;
    height: fit-content !important;
    background: rgb(230, 228, 228) !important;
}
.card-sender{
    background: #5fc9f8 !important;
    border-radius: 20px !important;
    height: fit-content !important;
}

.message-card-sender{
    width: 200px;
    margin-bottom: 10px;
    align-self: flex-end;
    height: fit-content !important;
    display: flex;
    flex-direction: row;
    
}




.messages-container{
    width: 30%;
    display: flex;
    flex-direction: column;
}